.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #0b042d;
  z-index: 1000;
  padding: 0.8rem 0;
  cursor: pointer;


  .navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      padding: 0 1rem;
    }
  }

  .logo {
    flex: 0 0 auto;


    .logo-link {
      font-size: 48px;
      font-weight: 400;
      color: #E15544;
      text-decoration: none;
      font-family: 'Handjet', monospace;
      letter-spacing: 5%;
      text-transform: uppercase;
      line-height: 100%;

    }
  }

  .nav-links {
    display: flex;
    list-style: none;
    gap: 32px;
    margin: 0;
    padding: 0;
    flex: 1;
    justify-content: center;
    margin-left: -26rem;

    @media (max-width: 1024px) {
      margin-left: 2rem;
    }

    @media (max-width: 768px) {
      display: none;
      margin-left: 0;
    }

    .nav-link {
      color: #E15544;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s ease;
      padding: 0.5rem 0;
      position: relative;
      white-space: nowrap;
      font-family: Roboto Mono;
      font-weight: 500;
      font-size: 22px;
      line-height: 120%;
      letter-spacing: 0%;

      &:hover {
        color: #02F4BF;
        ;
        transform: translateY(-1px);
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: #02F4BF;
        transition: width 0.3s ease;
      }

      &:hover:after {
        width: 100%;
      }
    }
  }

  .language-toggle {
    display: flex;
    align-items: center;
    flex: 0 0 auto;

    .lang-option {
      color: #E15544;
      cursor: pointer;
      transition: all 0.3s ease;
      padding: 0.3rem 0.5rem;
      border-radius: 4px;
      min-width: 28px;
      text-align: center;
      font-family: Roboto Mono;
      font-weight: 700;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 0%;


      &:hover {
        color: #E15544;
      }

      &.active {
        color: #02F4BF;
      }
    }

    .separator {
      color: #E15544;
      font-size: 18px;
    }
  }
}

// Mobile Hamburger Menu (für später)
@media (max-width: 768px) {
  .navbar {
    .mobile-menu-toggle {
      display: flex;
      flex-direction: column;
      cursor: pointer;

      span {
        width: 25px;
        height: 3px;
        background: #ff6b35;
        margin: 3px 0;
        transition: 0.3s;
      }
    }
  }
}